.button {
  background-color: $olive-green;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'HalvarBreitschrift';
  border: 2px solid $white;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 18px 30px;
  white-space: nowrap;
}