.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--dark-charcoal);
  box-shadow: 0px 0px 30px var(--black-shadow);

  &__container {
    z-index: 99;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    gap: 70px;
  }

  &__logo-link {
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__logo {
    width: 168px;
    height: 20px;
    vertical-align: middle;
  }

  &__main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1400px) {
      display: none;
    }
  }

  &__main_active {
    opacity: 1;
    transform: translate(0, 0);
  }

  &__nav {
    height: 100%;
    width: 100%;
  }

  &__menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: space-between;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;

    &_grey {
      background-color: var(--grey);
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__menu-link {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    text-align: center;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      content: "";
      background-color: var(--white);
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__button {
    font-size: 14px;
  }
}