.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: $dark-charcoal;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    gap: 70px;
  }

  &__logo-link {
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__logo {
    width: 168px;
    height: 20px;
    vertical-align: middle;
  }

  &__main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
    gap: 30px;

    @media (max-width: 1400px) {
      flex-direction: column;
      padding-top: 50px;
      max-width: 250px;
      min-width: 250px;
    }
  }

  &__nav {
    flex: 1 1;
    height: 100%;
  }

  &__menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: space-between;

    @media (max-width: 1400px) {
      flex-direction: column;
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;
    height: 100%;

    &_grey {
      background-color: $grey;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__menu-link {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      content: "";
      background-color: $white;
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__button {
    font-size: 14px;
  }
}