.offer {
  &__title {
    margin: 0 auto 26px auto;
    font-family: 'EurostileRoundExtended';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    max-width: 1020px;
  }

  &__text {
    font-family: 'HalvarBreitschrift';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    max-width: 810px;
    margin: 0 auto 20px auto;
  }

  &__swiper-wrapper {
    overflow: hidden;
    margin-bottom: 100px;
  }

  &__swiper {
    position: relative;
    z-index: 10;
    padding: 40px 0 40px 0;
  }

  &__slide {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;

    @media (max-width: 767.9px) {
      max-width: 70%;
    }

    @media (max-width: 575.9px) {
      max-width: 90%;
    }

    @media (max-width: 449.9px) {
      max-width: 100%;
    }
  }

  &__card {
    width: 100%;
    border-radius: 20px;
    border: none;
    transition: opacity 0.25s ease-in;
  }

  &__button {
    position: absolute;
    bottom: 30px;
    right: 50px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;

    @media (max-width: 1024px) {
      font-size: 14px;
      padding: 14px 26px;
      bottom: 25px;
      right: 30px;
    }

    @media (max-width: 576px) {
      bottom: 20px;
      right: 20px;
    }

    @media (max-width: 450px) {
      font-size: 12px;
      padding: 10px 10px;
    }
  }

  &__card:nth-child(2) {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__slide:hover {
    .offer__card:nth-child(1) {
      pointer-events: none;
      opacity: 0;
    }

    .offer__card:nth-child(2) {
      pointer-events: auto;
      opacity: 1;

      animation: zoomInOut 1s 1 alternate;
      box-shadow: 2px -2px 4px 2px rgba(255, 255, 255, 0.35);

      @keyframes zoomInOut {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.03);
          box-shadow: 2px -2px 8px 4px rgba(255, 255, 255, 0.35);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    .offer__button {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .swiper-pagination-bullet {
    background-color: $white;
  }
}