.round-button {
  width: 200px;
  height: 200px;
  color: var(--white);
  font-size: 18px;
  line-height: 1.5;
  font-family: 'HalvarBreitschrift';
  border: 2px solid var(--white);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  transition: all 0.3s ease-in;

  @media (max-width: 767.9px) {
    width: 150px;
    height: 150px;
    font-size: 14px;
  }

  &:hover {
    border-color: var(--silver);
    color: var(--silver);
    box-shadow: inset 0px 0px 16px var(--grey), 0px 0px 16px 8px var(--grey);
  }
}
