body {
  color: $white;
  background-color: $background-color;
  font-size: 16px;
  line-height: 1.2;
  font-family: 'HalvarBreitschrift';
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  margin-top: $header-height;
  flex: 1 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  width: 100%;
}