body {
  color: $white;
  background-color: $background-color;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'HalvarBreitschrift';
  font-weight: 400;
  font-style: normal;

  @media (max-width: 575.9px) {
    font-size: 14px;
  }
}

.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  margin-top: var(--header-height);
  flex: 1 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;

  @media (max-width: 1023.9px) {
    padding: 0 30px;
  }

  @media (max-width: 767.9px) {
    padding: 0 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 54px;
  line-height: 1.5;

  @media (max-width: 767.9px) {
    font-size: 46px;
  }

  @media (max-width: 575.9px) {
    font-size: 36px;
  }

  @media (max-width: 449.5px) {
    font-size: 28px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.5;

  @media (max-width: 767.9px) {
    font-size: 28px;
  }

  @media (max-width: 575.9px) {
    font-size: 24px;
  }

  @media (max-width: 449.9px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 22px;
  line-height: 1.5;

  @media (max-width: 575.9px) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: var(--header-height);
}