//BACKGROUND COLOR

$background-color: #101010;

//COLORS

$white: #FFFFFF;
$black: #000000;
$dark-charcoal: #1A191B;
$grey: rgba(255, 255, 255, 0.3);
$dark-grey: rgba(255, 255, 255, 0.6);
$olive-green: #222123;

$header-height: 100px;